[Unit]
Description=Promtail Log Collector
After=network.target

[Service]
User=promtail
Group=promtail
Type=simple
ExecStart=/opt/promtail/promtail -config.file=/opt/promtail/promtail-config.yaml

[Install]
WantedBy=multi-user.target
